*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        font-family: 'poppins', sans-serif;
        background-color: #000;
        color: #fff;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .nav-header { 
        display: flex;
        align-items: center; 
        justify-content: flex-end; 
        width: 90%;
        padding:  20px;
    }  
    .nav-header .list-links {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
    .list-links li {
        margin: 10px 20px;
    }
    .list-links li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        transition: color o.3s ease;
    }
    .list-links li a:hover {
        color: #00a99f;
    }
    .list-links li.current a {
        color: #00a99f;
    font-weight: bold;
    text-decoration: underline;
    }

    .container {
  display: flex; 
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
    }

    .info-one {
        display: block;
        font-family: poppins, sans-serif;
        padding: 0;
        margin: 0;
        line-height: 1;
        letter-spacing: 10px;
    }
 .info-two {
    font-family:'montserrat';
    margin-top: 30px;
 }
    .info-two  h4{
        color: #00a99f;
          
    }

    .info-three {
        margin-top: 20px;
        list-style-type: none;
    }

    footer {
        width: 100%;
        overflow: hidden;
    }
    
     .banner {
        background-color: #000;
        position: relative;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .triangle-left {
        position: absolute;
        left: 0;
        width: 60%;
        height: 80px;
        background: linear-gradient(to bottom right, #00b3a7, #007b7a);
        clip-path: polygon(0 0, 100% 100%, 0 100%);
     }
    
    .triangle-right {
         position: absolute;
         right: 0;
         width: 50%;
         height: 100%;
         background: linear-gradient(to bottom right, #007b7a, #004849);
         clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
    