
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    body {
        font-family: 'poppins', sans-serif;
        background-color: #000;
        color: #fff;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
     .nav-header { 
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        width: 100%;
        padding-left:  10% ;
    }  
    .logo  h1{
        color: #00a99f;
        border: 2px solid #000;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
    }
    .nav-header .list-links {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
    .list-links li {
        margin: 10px 25px;
    
    }
    .list-links li a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        transition: color o.3s ease;
    }
    .list-links li a:hover {
        color: #66D8D1;
        font-style: italic;
    }
    
    .list-links li.current a  {
        color: #66D8D1;
    font-weight: bold;
    text-decoration: underline;
    }
    
    .toggle-btn {
        display: none;
        background-color: transparent;
        border: none;
        color: #00a99f;
        font-size: 24px;
        cursor: pointer;
        float: left;
        transition: all 0.3s linear;
    }
    .toggle-btn:hover {
      color:#00F5FF;
      transform: rotate(90deg);
    }
    
    
    @media (max-width: 768px) {
        .toggle-btn { 
            display: block;
            margin-right: 30px;
    
        } 
        .list-links {
            display: none;
            flex-direction: column;
            position: absolute;
            align-items: center;
             top: 60px;
            left: 50%; 
            transform: translateX(-50%);
           background-color: #333;
          padding: 10px 0;
           width: 100%;
           height: 70%;
        }
        .list-links .show {
            display: flex;
        }
         .list-links  li{  
         width: 100%; 
         text-align: center;
        }
        .list-links li  a {
            text-decoration: none;
            color: #f5f5f5;
            padding: 10px 10px;
        }
       
         .list-links li a:hover  { 
             background-color: #00a99f; 
            color: #f5f5f5; 
        }
    
       .list-links li.current a {
        color: #f5f5f5; 
        font-weight: lighter; 
        text-decoration: none; 
    }
    }
    

.container {
        display: flex; 
        flex: 1;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
}
.container div {
  padding-bottom: 20px;
}
.container h3 {
    color: #00a99f;
}

.service-one {
    display: block;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 12px;
    margin-bottom: 15px;
    padding-left: 100px;
}

.service-two {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.service-two img {
    width: 20px;
    height: 20px;
    margin-left: -50px;
} 
.service-two h3{
    margin: 0;
}

.service-two p {
    margin: 0;
   grid-column: 1  /  -1;

} 
footer {
    background-color: #00a99f;
    color: #fff;
     text-align: center;
     padding: 20px;
 }